<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeForRobots.Mrds.Windows.ServiceHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <CodeForRobots.Mrds.Windows.ServiceHost.Properties.Settings>
      <setting name="HostName" serializeAs="String">
        <value/>
      </setting>
      <setting name="PackageDeployerPort" serializeAs="String">
        <value>55555</value>
      </setting>
      <setting name="PackageDeployerRootDirectory" serializeAs="String">
        <value/>
      </setting>
    </CodeForRobots.Mrds.Windows.ServiceHost.Properties.Settings>
  </applicationSettings>
</configuration>
